{{#each erros}}
<div class="alert alert-danger"> {{texto}} </div>
{{else}}
{{/each}}

<div class="contener">
  <div class="text-center">
    <h4> Cadaste uma nova chamada. </h4>
  </div>
  <hr>
  <div class="row justify-content-center">
    <div class="card" style="width: 22rem;">
      <div class="card-body">
        <form action="/colab/chamada/nova" method="POST">

          <div class="form-group">
            <i class="far fa-address-card"></i>
            <label for="titulo"> Titulo: </label>
            <input class="form-control" type="text" name="titulo">
          </div>

          <div class="form-group">
            <i class="fas fa-file-alt"></i>
            <label for="descricao"> Descrição: </label>
            <textarea class="form-control" name="descricao"></textarea>
          </div>

          <div class="form-group">
            <i class="fas fa-check-circle"></i>
            <label for="status"> Status: </label>
            <select name="status" class="form-control">
              <option value="Alta"> Alta </option>
              <option value="Media"> Média </option>
              <option value="Baixa"> Baixa </option>
            </select>
          </div>

          <div class="form-group">
            <i class="fas fa-clipboard-list"></i>
            <label for="setor"> Setor: </label>
            <select name="setor" class="form-control">
              {{#each setores}}
              <option value="{{_id}}"> {{nome}}</option>
              {{else}}
              <option value="0"> Nenhum setor resgistrado </option>
              {{/each}}
            </select>
          </div>

          <div class="text-center">
            <button type="submit" class="btn btn-success"> Cadastrar </button>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>