<div class="text-center">
  <h2> {{chamada.titulo}} </h2>
</div>

<hr>
<div class="card mt-4">
  <div class="card-body">

    <div class="form-group">
      <h6>Título:</h6>
      <p> {{chamada.titulo}} </p>
    </div>

    <div class="form-group">
      <h6> Descrição: </h6>
      <textarea class="form-control"> {{chamada.descricao}} </textarea>
    </div>

    <div class="form-group">
      <h6> Setor: </h6>
      <p> {{chamada.setor}} </p>
    </div>

    <div class="form-group">
      <h6> Status: </h6>
      <p> {{chamada.status}} </p>
    </div>

    <hr>

    <i class="fas fa-check-circle"></i>
    <label> Situação: </label>
    <h4> {{chamada.situacao}} </h4> <br>

    <i class="fas fa-edit"></i>
    <label> Comentário: </label>
    <h4> {{chamada.comentario}} </h4> <br>


    <small>Data de criação: {{chamada.data}} </small> <br>

  </div>
</div>