<h2> Suas chamadas! </h2>
<hr>
<a href="/colab/chamada/add"><button class="btn btn-success"> Nova Chamada </button></a>


{{#each chamadas}}

<div class="card mt-4">
  <div class="card-body">
    <h4>{{titulo}}</h4><br>
    <small> Status: {{status}} </small> <br>
    <small>Data de criação: {{data}}</small> <br>

    <a href="/colab/chamada/{{_id}}"> <button type="submit" class="btn btn-success mt-2"> Ver chamada </button></a>

    <a href=""><button type="submit" class="btn btn-danger mt-2"> Deletar chamada </button></a>

  </div>
</div>

{{else}}
<h4 class="mt-4"> Nenhuma chamada cadastrada.</h4>
{{/each}}